
.header{
	background-color:black;
	height: auto;
}
.hero{
	margin: auto;
	text-align: center;
	transition: background-color 2s, border 4s,border-radius 4s,border-bottom-right-radius 4s;
}
.hero:hover{
	background-color: black;
	border: 1px solid darkorange;
	border-style: dashed;
	border-top-left-radius:100px ;
	border-bottom-right-radius:100px ;
}

.about .anim{
	transition: border-radius 1s, color 3s,font-size 3s,padding ;
}
.about :hover .anim{
	border-radius: 50px;
	margin: px;
	font-size: 20px;
	padding: 10px;
}

.sticky{
	position: sticky;
	top:0;
	border-radius: 20px;
	font-size: px;
	padding: 0px 20px;

	
}
.sticky:hover{
	background-color: ;
}

